* {
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;


}



li {
    list-style-type: none;
}

button {
    cursor: pointer;
}


p {
    cursor: default;
}


body {
    padding: 0;
    margin: 0;
}

/* ContainerSection */
.container {
    width: 100%;
}



/* ------------------------------>  Search */
.search {
    width: 100%;
    background-color: #f9fafb;
    padding: 1.3vw 0;
    position: absolute;
    transition: 0.6s;
}

.search-container {
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    height: max-content;


}

.search-left {
    display: flex;
    align-items: center;

}

.search img {
    width: 2.4vw !important;
    height: 2.4vw !important;
}

.search #seacrh {
    width: 90%;
    border: none;
    padding: 0.65vw;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
}



.search .fa-circle-xmark {
    color: #b3b3b3;
    font-size: 1.3vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
}

#seacrhButton {
    border: none;
    color: #f45369;
    cursor: pointer;
    margin: 0 1.3vw;
    width: 5%;
    background-color: #f9fafb;
}

.search .fa-magnifying-glass {
    font-size: 1.3vw;
    font-weight: 900;
    margin: 0 0.65vw 0 1.3vw;

}

#seacrhButton {
    outline: none;
}




/*------------------------------> Header-Nav Section  */
.header-nav {
    width: 100%;
    background-color: white;
    position: relative;
    transition: 0.6s;

}



.main-nav ul li a {
    color: #212529;
}


.header-nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1.3vw 0;
    height: 5vw;
    background-color: white;
    margin-left: 9.7vw;
}


/* HeaderSection Left */
.header-nav-left {
    width: 60%;
}

.header-nav-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header-nav .brand-name {
    width: 100%;
}

.header-nav .brand-name img {
    width: 13.6vw !important;
    height: 2.4vw !important;
}



/* HeaderSection Right */
.header-nav-right a {
    text-decoration: none;
    color: black;
    font-size: 0.9vw;

}


.fa-location-dot {
    color: red;
    font-size: 0.9vw;
}


.header-nav-right span .fa-magnifying-glass {
    color: #ff0000;
    font-size: 0.8vw;
    border: 1px solid #ff0000;
    padding: 0.3vw;
    border-radius: 0.3vw;
    cursor: pointer;
}

.search-icon {
    margin-bottom: 0.3vw;
}





/* -------------------------------->Search NAV */
.search-nav {
    background-color: white;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 0;
    transition: 0.5s;

}



.search-nav-container {
    width: 80%;
    padding: 1.65vw 0;
    margin: 30;
    margin: auto;
    overflow: hidden;


}




.search-nav a {
    color: #212529;
    background-color: #e8ecf1;
    padding: 0.5vw 0.9vw;
    border-radius: 1.6vw;
    font-size: 0.9vw;
    margin-right: 0.9vw;
}

.search-nav-container ul {
    display: flex;
}







/* ------------------------------> NavigationSection  */

.navigation {
    background-color: #e8ecf1;
    width: 100%;
    margin-bottom: 0.13vw;
    position: relative;

}

.navigation-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;

}


/* NavigationSection LEFT */

.nav-left {
    width: 80%;
}


.main-nav ul li {
    list-style-type: none;
    margin-right: 0.6vw;
    font-size: 0.8vw;

    margin-bottom: 0;
    font-family: 'Courier New', Courier, ;
    padding: 1.7vw 0;

}

.main-nav ul li:hover {
    border-bottom: 0.13vw solid #f45369;
    cursor: pointer;
    padding-bottom: 1.6vw;


}

.main-nav li a {
    color: #2e3131;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Navigation RIGHT */

.nav-right {
    width: 20%;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: end;


}


.nav-right a {

    background-color: #f45369;
    padding: 0.32vw 0.65vw;
    border-radius: 0.4vw;
    color: white;
    transition: 0.3s;
}

.nav-right a:hover {
    background-color: #ef3e42;
}


.fa-sharp {
    color: white;
    font-size: 0.8vw;
}













/* ------------------------------> Navigation More  */
.nav-more {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.nav-more .card {
    display: flex;
    width: 100%;
    margin: auto;
}


/* Navigaiton More / LEFT */
.nav-more .left {
    width: 60%;
    display: flex;
    background-color: white;
    padding: 1.9vw 0 0 9.7vw;

}

.nav-more .left ul {
    margin-right: 2.6vw;
}

.nav-more .left a {
    color: #212529;
}

.nav-more .left a:hover {
    color: #f45369;
}

.nav-more .left li {
    line-height: 2.7;
    font-size: 0.9vw;

}


/* Navigation More /RIGHT */
.nav-more .right {
    display: flex;
    background-color: #f4f4f4;
    width: 40%;
    padding: 1.9vw;
}

.nav-right-img {
    width: 30% !important;
    text-align: end !important;
}

.nav-right-text {
    width: 80%;
    padding-top: 0.65vw;
    color: #2e3131;

}

.nav-right-text p:nth-child(2) {
    font-size: 0.9vw;
    color: #2e3131;
    margin-bottom: 4.5vw;
}


.nav-right-text a {
    background-color: #f45369;
    color: white;
    padding: 0.7vw 1.3vw 0.9vw;
    border-radius: 0.65vw;

}

.nav-more .nav-right-text p:first-child {
    font-size: 1.4vw;
}

.nav-right-img img {
    width: 8.2vw !important;
    height: 13vw !important;
}

.nav-right-text {
    width: 50%;
}

/* Nav-more  [Kreditler] Special Code     */

.credits .nav-right-img img {
    width: 15.2vw !important;
    height: 12vw !important;
}

/*  Nav-more  [Pul köçürmeləri] Special Code */
.deposits img {
    width: 13vw !important;
    height: 9.8vw !important;
}

.deposits li:first-child strong a {
    color: #f45369;
}

/*  Nav-more  [Onlayn Xidmətər] Special Code */

.money-transfers img {
    width: 13.6vw !important;
    height: 13vw !important;
}

.money-transfers li:first-child strong a {
    color: #f45369;
}


/* ----------------------> Credits Main Banner */
.credits-main {
    width: 100%;
    padding: 50px 0;
}

.credits-main-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credits-main-text h1 {
    font-weight: 400;
    font-size: 30px;
}

.credits-main-text p {
    color: #2e3131 !important;
    width: 70%;
    text-align: start;
    font-size: 16px;
}

.credits-main-text {
    width: 100%;
}

.main-banner {
    display: flex;
    width: 100%;
    border: 1px solid #eaeaea;
    background-color: #f9fafb;
    border-radius: 15px;
    margin-top: 40px;
    padding: 20px;
    align-items: center;
}


/* Credits  Main Banner Left */
.main-banner .left {
    width: 50%;
}


/* Credits  Main Banner RIGHT */
.main-banner .right {
    width: 50%;
}

.main-banner .right p {
    font-size: 28px;
    line-height: 1.5;
}

.main-banner .right span {
    font-size: 16px;
}

.orderBTN {
    color: white;
    background-color: #f45369;
    border-radius: 10px;
    padding: 15px 80px;
    font-size: 24px;
    line-height: 4;
}

.moreBTN {
    color: black;
    background-color: transparent;
    padding: 15px 0 0 60px;
    font-size: 16px;
}




/* Credits Childiren */
.childe-banner {
    width: 47%;
    background-color: transparent;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}


.childe-banner img {
    width: 170px;
    height: 190px;
}


.childe-banner p {
    font-size: 28px;
    line-height: 1.5;
    color: #2e3131;
}


.childe-banner span {
    font-size: 16px;
    line-height: 1.5;
    color: #2e3131;

}


/* Credits Banner children */
.childe-banner:nth-child(1) img {
    width: 277px;
    height: 190px;
}


/* -----------------------> Footer Text */

.footer-text {
    width: 100%;
    padding: 20px 0 80px 0;
}

.footer-text p {
    text-align: center;
    font-size: 14px;
    color: #3d4348;
}


/*-------------------------> Footer Nav  */

.footer-nav {
    width: 100%;
    border-top: 1px solid #3d434870;
    padding: 10px 0 50px 0;
}

.footer-nav-container {

    width: 80%;
    margin: auto;
}

.footer-nav-container li {
    display: inline-block;
}

.footer-nav-container a {
    color: #2e3131;
    font-size: 14px;
    background-color: #f9fafb;
    border-radius: 13px;
    color: #2e3131;
    padding: 10px 20px;
}



.footer-nav-container ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 25px 0;
    align-items: center;
    white-space: nowrap;
    display: block !important;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch
}

::-webkit-scrollbar {
    border: none;
    height: 5px;
    background-color: #eaeaea;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border: none;
    height: 5px;
    background-color: gray;
    border-radius: 15px;
}







/* ---------------------> About Navigation */
.about-nav {
    width: 100%;
    border-top: 1px solid #eaeaea;

}

.about-nav-container {
    width: 81%;
    margin: auto;
    padding: 30px;
}


.about-nav-container a {
    background-color: #e8ecf1;
    color: #3d4348;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}


.footer-text {
    width: 77%;
    margin: auto;
}


.about-nav p {
    text-align: center;
    font-size: 12px;
    color: #2e3131;
    margin: 50px 0 40px;
}

/* ----------------> Card Navigation  */

.card-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9fafb;

}

.card-nav a {
    width: 20%;
    color: #2e3131;
    display: block;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}

.card-nav a:first-child {
    color: #f45369;
}

/* ------------------------------->Footer */

.footer {
    background-color: #2e3131;
    padding-top: 1.9vw;
    color: white;

}

.footer a {
    color: white;
}

.footer hr {
    width: 80%;
    margin: auto;
    border: 1px solid #3d4348;
}

/* Footer /Start */

.footer-start {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

/* Footer/ Start- LEFT */
.start-left {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.start-left a,
.start-left strong {
    font-size: 0.9vw;
}

.start-left a:hover {
    transition: 0.3s;
    color: #ef3e42;
}


.start-left li {
    margin-bottom: 0.9vw;
}



/* Footer /Start-RIGHT */
.start-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-right img:nth-child(2) {
    margin-bottom: 2.6vw !important;
    margin-top: 1.3vw !important;
    width: 120 !important;
    height: 120 !important;
}

.start-right h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 700;
}


.start-right a {
    background-color: white;
    padding: 0.3vw;
    width: 80%;
    color: black;
    display: flex;
    border-radius: 0.45vw;
    margin-bottom: 0.65vw;

}

.start-right a p:first-child {
    font-weight: bold;
}

.start-right a p:last-child {
    font-weight: 100;
    font-size: 0.8vw;
}

.start-right a img {
    margin: 0.5vw !important;
    width: 1.5vw !important;
    height: 1.5vw !important;
}





/* Footer/Main */
.footer-main {
    width: 80%;
    margin: auto;
    padding: 1.9vw 0 4.5vw 0;

}

.footer-main a {
    margin-right: 1.9vw;
}

.footer-main a:hover {
    margin-right: 1.9vw;
    color: brown;
    transition: 0.2s;
}

.footer-main i {
    font-size: 1.1vw;
}

.footer-main a:first-child i {
    font-size: 1.1vw;
    color: #f45369;
    margin-right: 5px;
}

.footer-main a:first-child {
    border: 1px solid #f45369;
    padding: 0.6vw;
    border-radius: 0.52vw;
    font-weight: 700;
    font-size: 1.1vw;
}

.footer-main a:first-child:hover {
    color: white;
}




/* Footer/END */
.footer-end {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9vw 0;
}

.footer-end p {
    width: 50%;
    font-size: 0.9vw;
}


.footer-end img {
    height: 2vw !important;

}

.partner {
    display: flex;
    justify-content: space-around;
    width: 45%;
}