


.viwe-element {
    z-index: 1;
}
.viwe-opacity {
    opacity: 1!important;

    transition: 0.6s;
}

.hide-opacity {
    opacity: 0!important;
}

.slideDown {
    height:5.2vw;
}

.viwe-display {
    display: flex!important;
}

.hide-element {
    z-index: 0;
}


.select-aTAG {
    background-color: #f45369!important ;
    color: white!important;
}


.slideDown-Maxcontent {
    height: max-content;
    transition: 1s;
}