* {
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;


}



li {
    list-style-type: none;
}

button {
    cursor: pointer;
}


p {
    cursor: default;
}


body {
    padding: 0;
    margin: 0;
}

/* ContainerSection */
.container {
    width: 100%;
}



/* ------------------------------>  Search */
.search {
    width: 100%;
    background-color: #f9fafb;
    padding: 1.3vw 0;
    position: absolute;
    transition: 0.6s;
}

.search-container {
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    height: max-content;


}

.search-left {
    display: flex;
    align-items: center;

}

.search img {
    width: 2.4vw !important;
    height: 2.4vw !important;
}

.search #seacrh {
    width: 90%;
    border: none;
    padding: 0.65vw;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
}



.search .fa-circle-xmark {
    color: #b3b3b3;
    font-size: 1.3vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
}

#seacrhButton {
    border: none;
    color: #f45369;
    cursor: pointer;
    margin: 0 1.3vw;
    width: 5%;
    background-color: #f9fafb;
}

.search .fa-magnifying-glass {
    font-size: 1.3vw;
    font-weight: 900;
    margin: 0 0.65vw 0 1.3vw;

}

#seacrhButton {
    outline: none;
}




/*------------------------------> Header-Nav Section  */
.header-nav {
    width: 100%;
    background-color: white;
    position: relative;
    transition: 0.6s;

}


.main-nav li a {
    color: #2e3131;
}



.header-nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1.3vw 0;
    height: 5vw;
    background-color: white;
    margin-left: 9.7vw;
}


/* HeaderSection Left */
.header-nav-left {
    width: 60%;
}

.header-nav-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header-nav .brand-name {
    width: 100%;
}

.header-nav .brand-name img {
    width: 13.6vw !important;
    height: 2.4vw !important;
}



/* HeaderSection Right */
.header-nav-right a {
    text-decoration: none;
    color: black;
    font-size: 0.9vw;

}


.fa-location-dot {
    color: red;
    font-size: 0.9vw;
}


.header-nav-right span .fa-magnifying-glass {
    color: #ff0000;
    font-size: 0.8vw;
    border: 1px solid #ff0000;
    padding: 0.3vw;
    border-radius: 0.3vw;
    cursor: pointer;
}

.search-icon {
    margin-bottom: 0.3vw;
}





/* -------------------------------->Search NAV */
.search-nav {
    background-color: white;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 0;
    transition: 0.5s;

}



.search-nav-container {
    width: 80%;
    padding: 1.65vw 0;
    margin: 30;
    margin: auto;
    overflow: hidden;


}




.search-nav a {
    color: #212529;
    background-color: #e8ecf1;
    padding: 0.5vw 0.9vw;
    border-radius: 1.6vw;
    font-size: 0.9vw;
    margin-right: 0.9vw;
}

.search-nav-container ul {
    display: flex;
}







/* ------------------------------> NavigationSection  */

.navigation {
    background-color: #e8ecf1;
    width: 100%;
    margin-bottom: 0.13vw;
    position: relative;

}

.navigation-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;

}


/* NavigationSection LEFT */

.nav-left {
    width: 80%;
}


.main-nav ul li {
    list-style-type: none;
    margin-right: 0.6vw;
    font-size: 0.8vw;

    margin-bottom: 0;
    font-family: 'Courier New', Courier, ;
    padding: 1.7vw 0;

}

.main-nav ul li:hover {
    border-bottom: 0.13vw solid #f45369;
    cursor: pointer;
    padding-bottom: 1.6vw;


}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Navigation RIGHT */

.nav-right {
    width: 20%;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: end;


}


.nav-right a {

    background-color: #f45369;
    padding: 0.32vw 0.65vw;
    border-radius: 0.4vw;
    color: white;
    transition: 0.3s;
}

.nav-right a:hover {
    background-color: #ef3e42;
}


.fa-sharp {
    color: white;
    font-size: 0.8vw;
}













/* ------------------------------> Navigation More  */
.nav-more {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.nav-more .card {
    display: flex;
    width: 100%;
    margin: auto;
}


/* Navigaiton More / LEFT */
.nav-more .left {
    width: 60%;
    display: flex;
    background-color: white;
    padding: 1.9vw 0 0 9.7vw;

}

.nav-more .left ul {
    margin-right: 2.6vw;
}

.nav-more .left a {
    color: #212529;
}

.nav-more .left a:hover {
    color: #f45369;
}

.nav-more .left li {
    line-height: 2.7;
    font-size: 0.9vw;

}


/* Navigation More /RIGHT */
.nav-more .right {
    display: flex;
    background-color: #f4f4f4;
    width: 40%;
    padding: 1.9vw;
}

.nav-right-img {
    width: 30% !important;
    text-align: end !important;
}

.nav-right-text {
    width: 80%;
    padding-top: 0.65vw;
    color: #2e3131;

}

.nav-right-text p:nth-child(2) {
    font-size: 0.9vw;
    color: #2e3131;
    margin-bottom: 4.5vw;
}


.nav-right-text a {
    background-color: #f45369;
    color: white;
    padding: 0.7vw 1.3vw 0.9vw;
    border-radius: 0.65vw;

}

.nav-more .nav-right-text p:first-child {
    font-size: 1.4vw;
}

.nav-right-img img {
    width: 8.2vw !important;
    height: 13vw !important;
}

.nav-right-text {
    width: 50%;
}

/* Nav-more  [Kreditler] Special Code     */

.credits .nav-right-img img {
    width: 15.2vw !important;
    height: 12vw !important;
}

/*  Nav-more  [Pul köçürmeləri] Special Code */
.deposits img {
    width: 13vw !important;
    height: 9.8vw !important;
}

.deposits li:first-child strong a {
    color: #f45369;
}

/*  Nav-more  [Onlayn Xidmətər] Special Code */

.money-transfers img {
    width: 13.6vw !important;
    height: 13vw !important;
}

.money-transfers li:first-child strong a {
    color: #f45369;
}


/* --------------------------> Cards About  */
.cards-About {
    width: 100%;
    padding: 30px 0 50px;
}

.cards-text {
    width: 80%;
    margin: auto;
}

.cards-text h1 {
    font-size: 48px;
    line-height: 60px;
    color: #2e3131;
}

.cards-About p {
    font-size: 16px;
    margin: 14px 0 34px 0;
    opacity: 0.7;
    color: #2e3131;
    font-weight: 100;
}


.cards-About a {
    font-size: 16px;
    margin-right: 20px;
    background-color: #e8ecf1;
    color: black;
    padding: 8px 24px;
    border-radius: 15px;
}





/* -------------------------> Popular Card */
.popularCard {
    width: 100%;
}

.popularCard-container {
    width: 80%;
    margin: auto;
}

.popular-cards {
    width: 100%;
    border: 1px solid #eaeaea;
    background-color: #f9fafb;
    padding: 30px 40px 30px 0;
    display: flex;
    border-radius: 15px;
}

/* Popular Card/RIGHT */
.popular-cards .left {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-cards .left img {
    width: 277px !important;
    height: 174px !important;
}

/* Popular Card/LEFT */
.popular-cards .right {
    width: 65%;
    font-size: 28px;
}

.popular-cards .right p {
    color: #ff0023;
}


.popular-cards .right strong {
    font-size: 28px;
    line-height: 3;
    font-weight: 600;
    color: #2e3131;
}

.popular-cards .right span {
    font-size: 18px;
}

.popular-cards .right img {
    margin-right: 5px !important;
    width: 18px !important;
    height: 19px !important;

}

.popular-cards .right ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.popular-cards .right li p:first-child {
    color: #2e3131;
    font-size: 18px;
    font-weight: 400;
}

.popular-cards .right li p:last-child {
    color: #2e3131;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.7;
    line-height: 2;

}





.popular-cards .right a{
    color: #212529;
    padding: 10px 10px 40px 0;
    font-size: 18px;
    line-height: 6;

}


/* ------------------> ALL bankCard */

.kb-card {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.kb-card h2 {
    font-size: 36px;
    color: #2e3131;
}

.kb-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bankCARD {
    background-color: #f9fafb;
    padding: 30px 0 10px 30px;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 256px;

}

.bankCARD .card-text {
    width: 100%;
}

.bankCARD .card-text h3 {
    font-size: 24px;
    color: #2e3131;
    margin-bottom: 20px;

}

.bankCARD strong {
    font-size: 24px;
}

.bankCARD .card-text li {
    font-size: 13px;
}

.bankCARD .card-text ul {
    padding-left: 18px;
    line-height: 2;
}

.kb-card ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.bankCARD-container .img-container {
    width: 225px;
    height: 90px;
}

.bankCARD-container {
    width: 32%;
    margin-top: 100px;
}

.img-container img {
    width: 225px;
    height: 141px;
    position: relative;
    bottom: 80px;
}

.order-more {
    background-color: #f9fafb;
    border-top: 1px solid #eaeaea;
    border-radius: 0 0 15px 15px;
    display: flex;
    width: 100%;
}

.order-more a {
    display: block;
    padding: 17px;
    color: #f45369;
    border-right: 1px solid #eaeaea;
    transition: 0.7s;
    border-radius: 0 0 0 15px;
    width: 30%;
    text-align: center;
    font-weight: 500;
}

.order-more a:hover {
    background-color: #f45369;
    color: white !important;
}

.order-more a:last-child {
    border: none;
    color: #3d4348;
    opacity: 0.7;
    border-radius: 0 0 15px 0;
    display: block;
    width: 70%;
    text-align: start;
    font-size: 15px;
}

/*  Debet Cards | Fix code */
.debet .bankCARD-container:last-child .order-more a,
.debet .bankCARD-container:nth-last-child(2) .order-more a,
.debet .bankCARD-container:nth-last-child(3) .order-more a {
    width: 100%;
    color: #f45369;
    border-radius: 0 0 15px 15px;

}


/* ---------------------> About Navigation */
.about-nav {
    width: 100%;
    border-top: 1px solid #eaeaea;

}

.about-nav-container {
    width: 81%;
    margin: auto;
    padding: 30px;
}


.about-nav-container a {
    background-color: #e8ecf1;
    color: #3d4348;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}


.footer-text {
    width: 77%;
    margin: auto;
}


.about-nav p {
    text-align: center;
    font-size: 12px;
    color: #2e3131;
    margin: 50px 0 40px;
}









/* --------------------> Debet Card */
.digitalCardAbout {
    width: 100%;
    padding: 40px 0;
    background-color: #e8ecf1;
    margin-top: 50px;
}

.digitalCardAbout-container {
    width: 80%;
    margin: auto;
}


.digitalCardAbout-container h2 {
    font-size: 36px;
    line-height: 3;
    font-weight: 400;
}


.box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    width: 49%;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 10px;
}

.main-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box p {
    font-size: 14px;
    font-weight: bolder;
}

.main-box span {
    color: #f45369;
    font-size: 22px;
    font-weight: 400;
}

.slideDown-box {
    overflow: hidden;
    height: 0;
}


.slideDown-box p {
    font-weight: 100;
    font-size: 14px;
    margin: 15px 0
}

.slideDown-box ul li {
    line-height: 3;
    font-weight: 100;
    font-size: 14px;
}

.slideDown-box ul {
    margin-left: 20px;
    padding-bottom: 20px;

}

.slideDown-box ul li::before {
    content: "\2022";
    color: black;
    font-weight: 100;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ----------------> Card Navigation  */

.card-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f9fafb;

}

.card-nav a {
    width: 25%;
    color: #2e3131;
    display: block;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}

/* ------------------------------->Footer */

.footer {
    background-color: #2e3131;
    padding-top: 1.9vw;
    color: white;

}

.footer a {
    color: white;
}

.footer hr {
    width: 80%;
    margin: auto;
    border: 1px solid #3d4348;
}

/* Footer /Start */

.footer-start {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

/* Footer/ Start- LEFT */
.start-left {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.start-left a,
.start-left strong {
    font-size: 0.9vw;
}

.start-left a:hover {
    transition: 0.3s;
    color: #ef3e42;
}


.start-left li {
    margin-bottom: 0.9vw;
}



/* Footer /Start-RIGHT */
.start-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-right img:nth-child(2) {
    margin-bottom: 2.6vw !important;
    margin-top: 1.3vw !important;
    width: 120 !important;
    height: 120 !important;
}

.start-right h3 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 700;
}


.start-right a {
    background-color: white;
    padding: 0.3vw;
    width: 80%;
    color: black;
    display: flex;
    border-radius: 0.45vw;
    margin-bottom: 0.65vw;

}

.start-right a p:first-child {
    font-weight: bold;
}

.start-right a p:last-child {
    font-weight: 100;
    font-size: 0.8vw;
}

.start-right a img {
    margin: 0.5vw !important;
    width: 1.5vw !important;
    height: 1.5vw !important;
}





/* Footer/Main */
.footer-main {
    width: 80%;
    margin: auto;
    padding: 1.9vw 0 4.5vw 0;

}

.footer-main a {
    margin-right: 1.9vw;
}

.footer-main a:hover {
    margin-right: 1.9vw;
    color: brown;
    transition: 0.2s;
}

.footer-main i {
    font-size: 1.1vw;
}

.footer-main a:first-child i {
    font-size: 1.1vw;
    color: #f45369;
    margin-right: 5px;
}

.footer-main a:first-child {
    border: 1px solid #f45369;
    padding: 0.6vw;
    border-radius: 0.52vw;
    font-weight: 700;
    font-size: 1.1vw;
}

.footer-main a:first-child:hover {
    color: white;
}




/* Footer/END */
.footer-end {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9vw 0;
}

.footer-end p {
    width: 50%;
    font-size: 0.9vw;
}


.footer-end img {
    height: 2vw !important;

}

.partner {
    display: flex;
    justify-content: space-around;
    width: 45%;
}